<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1786890754000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Stop</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Stop</string>
		<key>time</key>
		<integer>1786890757000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1786982215000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Stop</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Stop</string>
		<key>time</key>
		<integer>1786982340000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1787043139000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Stop</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Stop</string>
		<key>time</key>
		<integer>1787043241000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1788157827000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1788158209000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1788158737000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1788186249000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Stop</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Stop</string>
		<key>time</key>
		<integer>1788186991000</integer>
	</dict>
</array>
</plist>
