<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1788508424000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Start</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Start</string>
		<key>time</key>
		<integer>1788517401000</integer>
	</dict>
	<dict>
		<key>action</key>
		<string>Stop</string>
		<key>memo</key>
		<string></string>
		<key>rstime</key>
		<integer>0</integer>
		<key>runlogtypeName</key>
		<string>Stop</string>
		<key>time</key>
		<integer>1788711501000</integer>
	</dict>
</array>
</plist>
