<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>as</key>
		<array>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string></string>
			</dict>
		</array>
		<key>ft</key>
		<integer>1788508424000</integer>
		<key>lan</key>
		<string>en-AF</string>
		<key>os</key>
		<string>iOS18.1.1</string>
	</dict>
	<dict>
		<key>as</key>
		<array>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0001</string>
				<key>dt</key>
				<integer>0</integer>
				<key>m</key>
				<string>-1:-1</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>11000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0002</string>
				<key>dt</key>
				<integer>193833000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0002</string>
				<key>dt</key>
				<integer>193833000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0004</string>
				<key>dt</key>
				<integer>193903000</integer>
				<key>m</key>
				<string>2</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0004</string>
				<key>dt</key>
				<integer>193904000</integer>
				<key>m</key>
				<string>2</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0004</string>
				<key>dt</key>
				<integer>193911000</integer>
				<key>m</key>
				<string>2</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0002</string>
				<key>dt</key>
				<integer>193913000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0002</string>
				<key>dt</key>
				<integer>193913000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193963000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0014</string>
				<key>dt</key>
				<integer>193976000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193977000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193977000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193977000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193977000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193977000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>193977000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0004</string>
				<key>dt</key>
				<integer>193981000</integer>
				<key>m</key>
				<string>2</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0004</string>
				<key>dt</key>
				<integer>194057000</integer>
				<key>m</key>
				<string>2</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-422-0004</string>
				<key>dt</key>
				<integer>194059000</integer>
				<key>m</key>
				<string>2</string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194064000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194064000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0014</string>
				<key>dt</key>
				<integer>194097000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194099000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194099000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194099000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194099000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194099000</integer>
				<key>m</key>
				<string></string>
			</dict>
			<dict>
				<key>a</key>
				<string>ZI-301-0001</string>
				<key>dt</key>
				<integer>194099000</integer>
				<key>m</key>
				<string></string>
			</dict>
		</array>
		<key>ft</key>
		<integer>1788517401000</integer>
		<key>lan</key>
		<string>en-AF</string>
		<key>os</key>
		<string>iOS18.1.1</string>
	</dict>
</array>
</plist>
