<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingDetailGoup</key>
	<dict>
		<key>autoCreateMusicAlbumy</key>
		<true/>
		<key>autoSavePhotoOn</key>
		<true/>
		<key>autoSaveVideoOn</key>
		<true/>
		<key>autoUpdateOn</key>
		<true/>
		<key>importByTime</key>
		<string>1</string>
		<key>shakeOn</key>
		<true/>
		<key>voiceOn</key>
		<true/>
	</dict>
	<key>SettingGroup</key>
	<array>
		<dict>
			<key>icon</key>
			<string>profile_setting_general</string>
			<key>name</key>
			<string>StringSettingGeneral</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>profile_help</string>
			<key>name</key>
			<string>StringSettingFAQ</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>profile_setting</string>
			<key>name</key>
			<string>StringSettingEncryptFile</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>profile_zan</string>
			<key>name</key>
			<string>StringSettingZan</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>profile_qa</string>
			<key>name</key>
			<string>StringSettingFeedBack</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>profile_about</string>
			<key>name</key>
			<string>StringSettingAbout</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>img_set_zhuxiao</string>
			<key>name</key>
			<string>StringLogoutConfirmTitle</string>
		</dict>
	</array>
</dict>
</plist>
